<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563307851415-unbn2ug1lfke0idf8lhhfkg9vtlmd491.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563307851415-unbn2ug1lfke0idf8lhhfkg9vtlmd491</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>563307851415-ji7rk7u905im22en466kr6asqbeldqf9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7kmmRYCvscRzxHCxhMY4-3tUP2KFRh0o</string>
	<key>GCM_SENDER_ID</key>
	<string>563307851415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bellycoinApp</string>
	<key>PROJECT_ID</key>
	<string>bellycoinfire</string>
	<key>STORAGE_BUCKET</key>
	<string>bellycoinfire.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563307851415:ios:0df344187c25e0b8ef43d2</string>
</dict>
</plist>